@model Vidly.ViewModels.RandomFilmViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
 }

<h2 class="popular">@Model.Film.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>This film has not yet been rented.</text>
}
else
{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>
}


